
@font-face {
    font-family: 'Aileron-Thin';
    src: url('Aileron-Thin.eot');
    src: url('Aileron-Thin.eot?#iefix') format('embedded-opentype'),
        url('Aileron-Thin.woff2') format('woff2'),
        url('Aileron-Thin.woff') format('woff'),
        url('Aileron-Thin.ttf') format('truetype'),
        url('Aileron-Thin.svg#Aileron-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Regular.eot');
    src: url('Aileron-Regular.eot?#iefix') format('embedded-opentype'),
        url('Aileron-Regular.woff2') format('woff2'),
        url('Aileron-Regular.woff') format('woff'),
        url('Aileron-Regular.ttf') format('truetype'),
        url('Aileron-Regular.svg#Aileron-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}