/**
 * Password strength styles.
 */
 
.strength_wrapper {
    position: relative;
    text-align: left;
}
.strength_input{
    width: 100%;
    font-size: 25px;
}
.strength_meter {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
.button_strength {
	margin-top: -6px;
	margin-bottom: 8px;
    text-decoration: none;
    color: #444444;
    font-size: 13px;
    display: block;
}
.strength_meter div {
    width: 0%;
    height: 34px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.strength_meter div p {
    position: absolute;
    right: 10px;
    color: #444444;
    font-size: 13px;
    padding-right: 30px;
}

.veryweak {
    background-color: #dc3545;
    width: 25%;
}
.weak {
    background-color: #fd7e14;
    width: 50%;
}
.medium {
    background-color: #20c997;
    width: 75%;
}
.strong {
    background-color: #198754;
    width: 100%;
}

/* Styles for verification */
.pswd_info {
	position:absolute;
	width: 280px;
	padding: 10px;
	background: #333333; 
	border-radius: 10px;
	box-shadow:0 1px 3px #444444;
	border:1px solid #444444;
	display:none;
    z-index: 1000;
    top: 52px;
    right: 0;
    background-color: #333333;
}
.pswd_info:before,
.pswd_info:after {
    position: absolute;
    bottom: 100%;
    content: '';
}
.pswd_info:before {
    right: 52px;
    border-right: 17px solid transparent;
    border-bottom: 17px solid #666666;
    border-left: 17px solid transparent;
}
.pswd_info:after {
   right: 53px;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #666;
    border-left: 16px solid transparent;
}
.pswd_info h3.pw_info {
	padding:0;
	margin-bottom: 8px;
	font-weight: normal;
	font-size: 1.0rem !important;
	line-height: 1.0 !important;
	color: #dddddd !important;	
}
.pswd_info ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.pswd_info ul li {
    visibility: visible !important;
    height: 20px !important;
    min-height: 20px !important;
	font-weight: normal;
	font-size: 1.0rem !important;
	line-height: 1.0 !important;
    padding-left: 24px !important;
}
.pswd_info .invalid {
	background:url('/img/status/pw-invalid.png') no-repeat 0 50%;
	color:#dc3545;
}
.pswd_info .valid {
	background:url('/img/status/pw-valid.png') no-repeat 0 50%;   
	color:#198754;
}
